# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Images and data files
*.fits
*.fit
*.fz
*.txt
*.png
*.riz
*~
*.tmp

# Folders
riz/
old/
plotfits/
outdir/

# mypy
.mypy_cache/
